
        @import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');

*{
     margin: 0px;
     padding: 0px;
 }
 .hero_wrapper{
     background: url(../Images/background/banner3.avif);
     width: 100%;
     height:100vh;
     background-size: cover;
     background-repeat:no-repeat;
     position: relative;
     background-attachment: fixed;
    
     
 }
 :root{
    --primary-font:'Poppins', sans-serif;
    --primary-text: #FD4766;
    --text-gray: #c6c9d8bf;
    --text-white: #fff;

    --primary-color: #FD4766;
    --secondary-color: #0e1525;
    --bg-dark-blue: #091020;
    --bg-white: #fff;
    --gray-color: #c6c9d8bf;
 }

 body {
    font-family: var(--primary-font);
    background-color: var(--secondary-color);
}

a {
    text-decoration: none;
}

/* ------loader---- */


	#contain{
        display: none;
    }
    #loader{
        position: absolute;
        margin: auto;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        width: 300px;
        height: 300px;
    }
    #loader img{width: 300px;}

.header_wrapper .nav-item .nav-link {
    position: relative;
    font-size: 16px;
    font-weight: 500;
    color: var(--text-gray);
    display:inline-block;
}

.header_wrapper .nav-item .nav-link::after {
    position: absolute;
    content: "";
    left: 0;
    width: 0;
    height: 2px;
    background: var(--primary-color);
    transition: 0.3s;
    bottom: 0;
}

.header_wrapper .nav-item .nav-link.active::after,
.header_wrapper .nav-item .nav-link:hover::after {
    width: 100%;
}

.header_wrapper .nav-item .nav-link.active,
.header_wrapper .nav-item .nav-link:hover {
    color: var(--text-white);
}

.header-scrolled {
    position:fixed; 
    top: 0;
    left: 0;
    width: 100%; 
    background-color: var(--bg-dark-blue);
    -webkit-box-shadow: 0 4px 6px 0 rgba(12, 0, 46, .05);
    box-shadow: 0 4px 6px 0 rgba(12, 0, 46, .05);
}

.header-scrolled .nav-item .nav-link.active,
.header-scrolled .nav-item .nav-link:hover {
    color: var(--primary-text);
}

.main-btn {
    display: inline-block;
    border-radius: 50px;
    transition: all .4s ease-in-out;
    padding: 10px 27px;
    background-color: transparent;
    border: 2px solid var(--gray-color);
    color: var(--text-gray);
    font-weight: 500;
    font-size: 14px;
    text-transform: uppercase;
    letter-spacing: 2px;
    text-decoration: none;
}

.main-btn:hover {
    background-color: var(--primary-color);
    border-color: var(--primary-color);
    color: var(--text-white);
}

h1 {
     font-size: 54px;
    line-height: 68px;
    font-weight: 800;
    color: var(--text-white);
    margin-bottom: 20px;
}

h1 span {
    color: var(--primary-color);
}

h2 {
    font-size: 50px;
    line-height: 1.3;
    font-weight: 600;
    color: var(--text-white);
    margin-bottom: 15px;
}

h3 {
    margin-bottom: 19px;
    font-weight: 600;
    font-size: 20px;
    color: var(--text-white);
}

h6 {
    color: var(--text-gray);
    font-size: 15px;
    text-transform: uppercase;
    letter-spacing: 4px;
    display: block;
    margin-bottom: 20px;
}

p {
    color: var(--text-gray);
    font-size: 16px;
    line-height: 28px;
    letter-spacing: 1px;
    font-weight: 400;
    font-size: 'Josefin Sans', sans-serif;
}

span{
    color:red;
}

 
.text{
    padding-top: 100px;
}
 .text h4{
    color:red ;
    font-weight: 400;
     margin: 10px 0 0 10px;
     white-space: nowrap;
     overflow: hidden;
     width: 100%;
     animation: animtext 4s steps(80, end); 
      transition: all cubic-bezier(0.1, 0.7, 1.0, 0.1);
   } 
    @keyframes animtext { 
    from {
        width: 0;
       transition: all 2s ease-in-out;
    } 
  } 


   .text h4{
        color:white;
        font-weight:200px;
        font-size: 20px;
        color: red;
        margin-right:30%;
   }



  

   /* -----about me---- */
   .about-section{
    background:linear-gradient(
        to bottom,
        
        rgba(9,9,9,0.5),
        rgba(9, 9, 9, 0.5)
      ),url(../Images/background/wood\ banner.jpg);
    width: 100%;
    height: auto;
    background-size: cover;
     background-repeat:no-repeat;
     position: relative;
     background-attachment: fixed;
   }

   .ab-title h2{
       color:var(--primary-text);
       font-family: 'Cormorant Garamond', serif;
       font-size: 3rem;;
   }
   .contain-text{
       background:none;
       background-repeat: no-repeat;
       width: 100%;
        height: 420px;
     background-size: cover;
     border-radius: 15px;
     border: 2px solid white; 
    }

        /* ========resopnsive mediya query====== */
    @media screen and (max-width: 320px) {
        .contain-text{
            height: auto;
        }

        .header-scrolled {
            height: auto;
        }
    
        .header_wrapper .menu-navbar-nav {
            text-align: center;
            background-color: var(--bg-dark-blue);
            padding-bottom: 15px;
        }
    
        .header_wrapper .nav-item .nav-link {
            margin-top: 15px;
        }

        .port-img {
            /* width: 100px;
            height: 300px; */
            position: relative;
            overflow: hidden;
    
      }
    }

      @media screen and (max-width: 768px) {
        .contain-text{
            height: auto;
        }

        .header-scrolled {
            height: auto;
        }
    
        .header_wrapper .menu-navbar-nav {
            text-align: center;
            background-color: var(--bg-dark-blue);
            padding-bottom: 15px;
        }
    
        .header_wrapper .nav-item .nav-link {
            margin-top: 15px;
        }
    
      }

/* ========resopnsive mediya query end=== */

   .contain-body p{
     width: 100%; 
     line-height: 20px !important;
    word-spacing: 5px;
    font-size: 18px !important;
    
   }

   .text-red{
       color:var(--primary-text)
   }
   .trxt-red p{
       color:#fff;
   }

   .my-img img{
        border: 5px solid white;
        border-radius: 15px;
    
   }
   /* ----skils-navbar-- */



/* -------skills---- */
   .skills-section{
    background:
      url(../Images/background/imagessss.jpeg);
    width: 100%;
    height: auto;
    background-size: cover;
     background-repeat:no-repeat;
     position: relative;

   }       
   .html-element h4{
       color: white;
   }

   .custem-black{
       background:black;
        border: 2px solid white; 
       background-repeat: no-repeat;
     background-size: cover;
       width: 100%;
       height: auto;
       border-radius: 15px 0px;;
       
   }

   .custem-black:hover{
       border-radius: 0px 15px;
   }

   .custem-black h4{
       font-size: 20px;
       color:#FD4766;
       margin-top: 5px;
       font-family: 'Average', serif;
   }

   /* -----PORTFOLIO----- */

   .portfolio-section{
    background:linear-gradient(
        to bottom,
        
        rgba(9,9,9,0.5),
        rgba(9, 9, 9, 0.5)
      ),url(../Images/background/wood\ banner.jpg);
    width: 100%;
    height: auto;
    background-size: cover;
     background-repeat:no-repeat;
     position: relative;
   }       
   
   .port-img {
    /* /* width: 400px; */
    height: 400px; 
    position: relative;
    overflow: hidden;
    border: 3px solid var(--primary-color);
    border-radius: 15px;
  }
  .port-img img {
    width: 100%;
    height: 100%;
    transition: 0.5s;
  }
  .hover-effect {
    width: 100%;
    height: 100%;
    background: rgba(255, 0, 0, 0.5);
    /* opacity: 0; */
    position: absolute;
    top: 100%;
    left: 0;
    transition: 0.5s;
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .port-img:hover .hover-effect {
    /* opacity: 1; */
    top: 0;
  }
  .port-img:hover img {
    transform: scale(1.5) rotate(45deg);
  }
  .hover-effect a{
      text-decoration: none;
      color: #fff;
      font-size: 20px;
      font-weight: 700;
     
  }
.hover-effect a:hover{
    color:blue;
}


  /* --------contact----- */
  .contact-section{
    background:
    url(../Images/background/final.back.jpg);
  width: 100%;
  height:auto;
  background-size: cover;
   background-repeat:no-repeat;
   position: relative;
  }

  .custom-form{
      background:#c4d4ec;
     margin-bottom: 10px;
      height: 500px;
  }


  .form{
     
        display: block;
        width: 100%;
        height: calc(1.5em + .75rem + 2px);
         padding: 30px; 
        font-size: 1rem;
        font-weight: 400;
        line-height: 1.5;
        color: #495057;
        background-color: #fff;
        background-clip: padding-box;
        border: 1px solid #ced4da;
        border-radius: 50px;
        transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
    }

    .custom-form p{
        color:black;
    }
    .main-btn-form{
        display: inline-block;
        border-radius: 50px;
        transition: all .4s ease-in-out;
        padding: 10px 27px;
        background-color: transparent;
        border: 2px solid black;
        color:black;
        font-weight: 500;
        font-size: 14px;
        text-transform: uppercase;
        letter-spacing: 2px;
        text-decoration: none;
    }

    .main-btn-form:hover {
        background-color: var(--primary-color);
        border-color: var(--primary-color);
        color: var(--text-white);
    }

    .footer{
        background:  url(../Images/background/imagessss.jpeg);
        width: 100%;
        height: auto;
        background-size: cover;
         background-repeat:no-repeat;
         position: relative;;
         padding:20px
    }
    .footer span{
      
        font-weight: bold;
    }
